/src/commonMain/kotlin/io/github/tokuhirom/momiji/ipadic/char/
/src/commonMain/kotlin/io/github/tokuhirom/momiji/ipadic/unk/
/src/commonMain/kotlin/io/github/tokuhirom/momiji/ipadic/sys/
/src/commonMain/kotlin/io/github/tokuhirom/momiji/ipadic/matrix/
